body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: $purple;
    }
}

// Headings
h1,
h2,
h3,
h4 {
    line-height: 1.4;
    margin: 0 0 20px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 16px;
}

// Images
img {
    max-width: 100%;
}
