.container {
    margin: 0 auto;
    max-width: $site-width;
    padding: 20px;
}

#header {
    background: $light-grey;
    margin-bottom: 20px;
}

#site-title,
#site-subtitle {
    font-weight: 300;
    margin: 0;
}

#site-title a {
    color: #0D47A1;
}
#site-subtitle {
    color: #8998EC;
}

#footer {
    background: $light-grey;
}

// Blog post
.blog-post {
    margin-bottom: 60px;
}
.blog-post__header {
    align-items: baseline;
    display: flex;
    margin-bottom: 30px;
}
.blog-post__title,
.blog-post__date {
    width: 50%;
    margin: 0;
}
.blog-post__date {
    color: $dark-grey;
    font-size: 20px;
    text-align: right;
}
