#header,
#main,
#footer {
    padding: 20px;
}

#header {
    background: #f5f5f5;
}

#site-title,
#site-subtitle {
    margin-top: 0;
}

#site-subtitle {

}

#main {
    margin: 0 auto;
    max-width: 900px;
}

#footer {
    background: #f5f5f5;
}
