[role="main"] {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: $gutter-sm;
    width: $site-width;

    @include respond-to(lap) {
        padding: 20px $gutter;
    }
}

.header {
    background: $light-grey;
    margin-bottom: 20px;
}

.navigation {
    @extend .container;
}
.navigation__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation__list-item {
    font-size: $font-size-large;
    margin-right: 16px;

    &:last-child {
        margin: 0;
    }
}

.site-title,
.site-subtitle {
    font-weight: 300;
    margin: 0;
}

.site-title a {
    color: $text-color;
}
.site-subtitle {
    color: $dark-grey;
}

.footer {
    background: $light-grey;
}

// Pagination
.pagination {
    text-align: right;
}
.previous-page,
.next-page {
    display: inline-block
}
.previous-page + .next-page {
    &:before {
        content: '|';
        margin: 0 5px;
    }
}
