@use "sass:color";

// Colours
$blue: #0279b3;
$light-blue: color.adjust($blue, $lightness: 10%);
$dark-blue: color.adjust($blue, $lightness: -10%);

$purple: #8249e7;
$light-grey: #f5f5f5;
$header-bg: #172f3c;

$heading-color: #222;
$text-color: #444;
$link-color: #005AFF;

// Sizes
$gutter: 32px;
$gutter-sm: 24px;
$site-width: 800px;

// Fonts
$font-family: 'PT Serif', Georgia, serif;
$font-size: 18px;
$font-size-japanese: 20px;
$font-size-large: 18px;
$h1-size: 24px;
$h1-size-large: 30px;
$h2-size: 18px;
$h2-size-large: 24px;
$h3-size: 18px;
$h3-size-large: 24px;
$h4-size: 12px;
$h4-size-large: 18px;
$h5-size: 12px;
$h5-size-large: 18px;
$h6-size: 12px;
$h6-size-large: 18px;
